body {
    background: #A6A6A6;
}

#header {
    position: absolute;
    left: 43%;
}

#image_div {
    position: absolute;
    left: 90%;
    top: 86%;
    transform: translate(-90%, -86%);
}
#linker {
    position: absolute;
    width: 110px;
    height: 100px;
    border-radius: 20px;
}

#author{
    position: absolute;
    top:40%;
    left: 70%;
    font-size: 17px;
    animation: showText 2s ease-in;
}

#quote{
    position: absolute;
    top:20%;
    font-size: 24px;
    animation: showText 2s ease-in;
}

#main_text{
    position : absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
    animation: show 1.2s ease-in;

}

@keyframes show {
    0% {
        width:0px;
        opacity: 0%;
    }

    100% {
        width:500px;
        opacity: 100%;
    }
}


@keyframes showText {
    0% {
        opacity: 0%;
    }

    85% {
           opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}